.photo {

    margin-top: 60px;

    text-align: center;

}

.photo img {

    width: 100%;

    max-width: 450px;

    border-radius: 12px;

    box-shadow: 0 10px 25px rgba(0,0,0,.15);

}

.photo p {

    color: #777;

    font-size: 15px;

    margin-top: 15px;

    font-style: italic;

}